<a routerLink="/employeetasks/create" class="btn btn-primary"> Create <i class="fa fa-plus"></i></a>
<br/>
<br/>

<table datatable class="table row-border hover" *ngIf="!isLoading">
  <thead>
      <tr>
          <th>ID</th>
          <th>Description</th>
          <th>StartDate</th>
          <th>EndDate</th>
          <th>EmployeeNameEn</th>
          <th>Actions</th>
      
        </tr>
  </thead>
<tbody>
    <tr *ngFor="let employeetask of employeetasks">
        <td>{{ employeetask.id }}</td>
        <td>{{ employeetask.description }}</td>
        <td>{{ employeetask.startDate }}</td>
        <td>{{ employeetask.endDate }}</td>
        <td>{{ employeetask.employeeNameEn }}</td>
        <td> 
          <a class="btn btn-xs btn-default" routerLink="/employeetasks/edit/{{ employeetask.id }}"><i class="fa fa-edit"></i> Edit </a> &nbsp;
          <a class="btn btn-xs btn-danger" (click)="handleDelete(employeetask.id)"><i class="fa fa-trash"></i> Delete </a>
        </td>
      </tr>
    
</tbody>
</table>

<h1 *ngIf="isLoading">Loading...</h1>
